<div class="card-header-tabs">
<!--<span>Всего задач: {{taskAll}}</span>-->
  <div class="table-bordered">
        <div class="divTableBody">
          <div class="row-cols-6">
            <div class="d-table-cell"> Всего задач: {{taskAll + '&nbsp;'}}</div>
            <div class="d-table-cell"> Запланировано: {{tasksPlanned + '&nbsp;'}}</div>
            <div class="d-table-cell"> Выполнено: {{tasksOverdue + '&nbsp;'}}</div>
            <div class="d-table-cell"> Просрочено: {{tasksFinished + '&nbsp;'}}</div>
          </div>
        </div>
      </div>
</div>
