<div class="col-md-12">
  <h3 class="text-center">Список задач</h3>
  <div class="text-right">
    <button type="button"
            class="btn btn-success" (click)="addTask()"> Добавить задачу
    </button>
  </div>
  <label>Показывать завершённые задачи
    <input type="checkbox" checked (change)="filterTasks($event)"/>
  </label>
  <hr>
  <app-statistic></app-statistic>
  <hr>
  <table class="table table-striped">
    <thead class="card-header-tabs">
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название задачи</th>
      <th scope="col">Категория</th>
      <th scope="col">Дата начала</th>
      <th scope="col">Дата окончания</th>
      <th scope="col">Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let taskModel of taskModels">
      <th scope="row">{{taskModel.id}}</th>
      <td>{{taskModel.name}}</td>
      <td>{{taskModel.category}}</td>
      <td>{{taskModel.dateStart}}</td>
      <td>{{taskModel.dateEnd}}</td>
      <td>{{taskModel.status ? 'Завершена' : 'Открыта'}}</td>
      <td>
        <label>
          <input type="checkbox" [checked]="taskModels.status" (change)="setStatus(taskModels)">
        </label></td>
    </tr>
    </tbody>
  </table>
</div>

